body {
    background-color: black;
    color: white;
    font-family: Arial;
    margin: 0;
}

#content {
    margin: auto;
    width: fit-content;
    margin-bottom: 15px;
}

.element {
    border: 2px solid red;
    padding: 10px;
    text-align: center;
    background-color: #4b4b4b;
    margin-top: 12.5px;
    border-radius: 10px;
    box-shadow: 0 0 25px 2px red;
    width: auto;
    height: 100%;
}

a:link,a:visited {
    color: hsl(0, 100%, 50%);
    text-decoration: none;
}

a:hover {
    color: hsl(120, 100%, 50%);
    text-decoration: underline;
}

a:active {
    color: hsl(240, 100%, 50%);
    text-decoration: underline;
}

table,tr,td {
    border: 1px solid red;
    border-collapse: collapse;
}

table {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

td,th {
    padding: 10px;
}

h1, h2 {
    margin: 10px 0 20px 0;
}